body{
    margin: 0;
    padding: 0;
    
}

.resimOrtala {
    display: block;
    margin: 0 auto;
    margin-top: 250px;
  
    
}

.aramaKutusu {
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    width: 584px;
    height: 44px;
    display: block;
    margin: auto;
}

.buton {
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    
    
}

.buttonDiv{
    display: flex;
    max-width: 300px;
    max-height: 36px;
    margin: auto;
    justify-content: space-between;
    padding-top: 18px;
}

.buton:hover {
    border: 0.1px solid rgb(150, 150, 150);
}


.logInDıv{
   margin-left: 1754px;
   margin-top: 5px;

}

.logIn {
    background-color: rgb(27, 126, 255);
    color: white;
    line-height: 27px;
    height: 36px;
    width: 150px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
   
}


.alttaraf{
    height: 30px;
    display: block;
    text-decoration: none;
    justify-content: space-around;
    display: flex;
   /* justify-content:baseline; */
   margin-top: 445px;
   background-color: rgb(187, 187, 187);
  
}